@keyframes gradient {
	0% {
        background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
        background-position: 0% 50%;
	}
}

@keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);

    }

    to {
      transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes pulse {
      from {
          transform: scale3d(1, 1, 1);
      }

      50% {
          transform: scale3d(1.05, 1.05, 1.05);
      }

      to {
          transform: scale3d(1, 1, 1);
      }
}

@keyframes pulse_danger {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(.85, .85, .85);
    }

    to {
        transform: scale3d(1.20, 1.20, 1.20);
    }
}

@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes rotation {
    25% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(25deg) scale(1);

    }
    75% {
        transform: rotate(40deg);

    }
    100% {
        transform: rotate(-35deg) scale(1.25);

    }

}
