.border__bottom--grey {
    border-bottom: 1px solid #364458;
}

.break-word {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.width__35 {
    width: 35% !important;
}
