.auth {
    background: linear-gradient(to bottom, #ff8008, #ffc837) no-repeat;
    height: 100vh;

    @include respond(horizontal-view-sm) {
       height: 100%;
    }

    @include respond(horizontal-view-md) {
        height: 100%;
    }

    &__container {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    &__nav {
        background-color: $color-black;
    }

    &__links {
        color:$color-orange;
        margin-top: 2rem;
        font-size: 1.25rem;
    }

    &__header {
        background-color: $color-black;
        color: $color-orange;
        font-size: 1.5rem;

    }

    &__body {
        background-color: $color-grey;
    }

    &__button {
        background-color: $color-black;
        color: $color-orange;
        transition: all .25s ease-in;

        &:hover {
            color: $color-orange;
            font-weight: bolder;
        }
    }
}
