.btn__step {
    color: #494949;
    width: 2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 90%;
    background: #ffffff;
    border: 3px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-orange, 0.25);
        color: #212529;
        text-decoration: none;
        background: #f6b93b;
        border-color: #f6b93b;
        transition: all 0.4s ease 0s;
        font-weight: 700;
        text-align: center;
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0px 10px 20px rgba($color-orange, 0.15);
    }
}

.btn__submit {
    color: #494949;
    width: 6rem;
    text-decoration: none;
    text-align: center;
    border-radius: 2%;
    background: #ffffff;
    display: inline-block;
    transition: all 0.25s ease 0s;
    margin: 0 auto;
    animation: slideInUp 1s ease-out;

    &:hover {
        border: 1px solid #494949;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-orange, 0.25);
        color: #212529;
        text-decoration: none;
        background: #f6b93b;
        transition: all 0.4s ease 0s;
        font-weight: 900;
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0px 10px 20px rgba($color-orange, 0.15);
    }
}
