.footer {
    background: linear-gradient(to right,rgba( $color-grey,.8), rgba(#D3CCE3,1)),
    url("/img/highway.jpg");
    background-size:cover;
    max-width:100vw;
    margin-top: 3rem;

    &__primary {
        display: inline-block;
        border-bottom:2px solid $color-orange;
    }

    &__link {
        text-align: center;
        margin: 4rem 0rem 5rem 0rem;

        @include respond(tab-port) {
            height: 2vh;
        }

        @include respond(mobile-port) {
            width: fit-content;
        }
    }
}
