.form__wizard {
    background-color: $color-grey;
    box-sizing: border-box;
    position: relative;

    &__modal {
        max-width: 80%;


        @include respond(tab-land) {
            max-width: 95%;
        }

        @include respond(mobile-land) {
            align-items: normal;
        }
    }
    &__img {
        width: 100%;
        height: 25vw;
        object-fit: cover;

        @include respond(tab-land) {
            height: 40vh;
        }

    }

    &__img-text {
        margin-bottom: 5rem;

        @include respond(mobile-land) {
            margin-bottom: 8rem;
        }
    }

    &__header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: $color-white;
        text-transform: uppercase;
        padding: 9px 23px;
        border: 5px solid rgba($color-orange, 1);
        font-weight: 400;
        letter-spacing: 0.3px;
        background-color: rgba($color-black, 0.4);

        @include respond(tab-land) {
            font-size: 20px;
        }

        @include respond(tab-port) {
            font-size: 16px;
        }

        @include respond(mobile-land) {
            font-size: 12px;
        }

        @include respond(mobile-land-bp2) {
            padding: 5px 10px;
            font-size: 12px;
            border: 2px solid rgba($color-orange, 1);
        }
    }

    &__header-img {
        width: 100%;
    }
    &__steps {
        border-left: 3px solid rgba($color-orange, 0.5);
        padding-left: 2.25rem;
        color: $color-black;
        font-size: 1.2rem;
        font-weight: 500;
        position: relative;
        margin-bottom: 5rem;

        &--active-top {
            color: $color-orange;
            font-weight: 800;

            &::before {
                content: "";
                height: 2.5rem;
                position: absolute;
                left: -3px;
                top: 0;
                border-left: 3px solid $color-orange;
                font-weight: 800;
            }
        }

        &--active-middle {
            color: $color-orange;
            font-weight: 800;

            &::before {
                content: "";
                height: 2.5rem;
                position: absolute;
                left: -3px;
                bottom: 3rem;
                border-left: 3px solid $color-orange;
                font-weight: 800;
            }
        }

        &--active-bottom {
            color: $color-orange;
            font-weight: 800;

            &::before {
                content: "";
                height: 2.5rem;
                position: absolute;
                left: -3px;
                bottom: 1px;
                border-left: 3px solid $color-orange;
                font-weight: 800;
            }
        }
    }

    &__btn {
        background-image: linear-gradient(to right, $color-orange, #eeb345);
        border-radius: 5%;
        width: 35%;
        padding: .5rem 1rem;
        box-sizing: border-box;
        font-size: 12px;
        font-weight: 700;
        color: $color-black;
        text-transform: uppercase;
        border: none;
        box-shadow: 1px 1px 1px;
        transition: all .2s;

        @include respond(mobile-land) {
            width: 50%;
            margin-top: 2rem;
        }

        &--orange {
            background-image: linear-gradient(to right, $color-orange, #eeb345);

            &:hover {
                transform: translateY(-0.1rem);
                box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.2);
                background-image: linear-gradient(to left, $color-orange, #eeb345);
            }

            &:active {
                transform: translateY(-0.3rem);
                box-shadow: 0rem .5rem 1rem rgba($color-black, .2);
            }
        }

        &--red {
            background-image: linear-gradient(to right, #f70d1a, red);

            &:hover {
                transform: translateY(-0.1rem);
                box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.2);
                background-image: linear-gradient(to left, #f70d1a, red);
            }

            &:active {
                transform: translateY(-0.3rem);
                box-shadow: 0rem .5rem 1rem rgba($color-black, .2);
            }

        }

        &--black {
            background-image: linear-gradient(to right,$color-black, #222);
            color: $color-white;

            &:hover {
                transform: translateY(-0.1rem);
                box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.2);
                background-image: linear-gradient(to left, $color-black, #222);
                color: $color-orange;
            }

            &:active {
                transform: translateY(-0.3rem);
                box-shadow: 0rem .5rem 1rem rgba($color-black, .2);
            }
        }

    }

    &__label {
        color: $color-black;
        font-weight: 700;
        display: block;
    }


}
