.forecast {
    width: 60vw;
    background-color: rgba(5,10,48,0.9);
    animation: fadeIn 1.25s ease-in;

    @include respond(mobile-land) {
        width: 85vw;
    }

    &__current {
        font-size: 3.75rem;
        line-height: 1;
    }

    &__daily {
        @include respond(tab-port) {
            display: block !important;
        }
        @include respond(mobile-land) {
            font-size: 1rem;
        }
    }

    &__future-weather {
        width: 60vw;
        font-size: 0.9rem;
        line-height: 1.25rem;
        opacity: 1;
        background-color: rgba(61, 72, 73, .7);
        animation: fadeIn 1.25s ease-in;

        @include respond(mobile-land) {
            width: 85vw;
        }
    }

    &__day {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: rgba(229, 231, 235, 1)
    }
}
