.icons {
    height: 2rem;
    fill: $color-dark-grey;
    width: 3rem;

    &--sidebar{
        width: 20%;
    }
}

.icon__menu {
    height: 2rem;
    fill: $color-dark-grey;
    width: 10vw;
    display: none;

    @include respond(tab-land) {
        display: inline;
    }
}

.icon__nav {
    height: 2rem;
    fill: $color-white;
    width: 100%;
    padding: .1rem;

    @include respond(mobile-port) {
        width: 11vw;
    }
}

.icon__nav-animation {
    animation: ring 3.5s;
}

.badge__count::after {
    position:absolute;
    right: -5px;
    top: -7px;
    width: 30px;
    height: 20px;
    content: attr(data-count);
    font-size: .75rem;
    border-radius: 50%;
    color: black;
    background: rgba($color-orange,.85);
    text-align: center;
    font-weight: bold;

    @include respond(tab-port) {
        width: 15px;
        height: 15px;
        font-size: .75rem;
    }
}

