.konti-cards {
	position: relative;
	margin-top: 2rem;
	height:40%;
	background-image: linear-gradient(-45deg, #cf9934 ,#eba117, #eeb345, #d1a34c, #ca993d);
	// background-image: linear-gradient(-45deg, gold , rgb(219, 197, 68), rgb(207, 188, 79), rgb(218, 198, 85), rgb(197, 182, 99));
	background-size: 400% 400%;
	transition: all 1s ease;
	visibility: hidden;
	margin-bottom: 5rem;

	@include respond(tab-port) {
		.w-25 {
			width: 15%!important;
		}
	}

    &__title {
        color: $color-black
    }
}
