.pto {
    background: linear-gradient(to bottom, #d1d6da, #9fa4a8);

    &__img {
        border-radius: 50%;
        width: 15%;
        animation: pulse 2.5s infinite;
    }

    &__heading {
        border-bottom:2px solid $color-orange;
        display: inline-block;
        color: $color-orange;
        font-size: 1.75rem;
        text-shadow:
            1px 1px 0 #000,
            -.5px -.5px 0 #000,
            .5px -.5px 0 #000,
            -.5px .5px 0 #000,
            .5px .5px 0 #000;
    }
}
