.pto_modal {
        transform:scaleY(.01) scaleX(0);
        animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

    &__content {
        outline: #3d4852 solid 4px;
    }

    &__title {
        color: $color-black;
        font-weight: 700;
        font-size: 1.75rem;
    }

    &__input {
        width: 70%;

        &:focus {
            border: black solid 2px;
            box-shadow: 0 0 0 0 rgba($color-grey, 0.0);
        }
    }

    &__header {
        background-color: $color-orange;
    }

    &__body {
        background-color: $color-grey;
    }

    &__label {
        font-weight: 600;
        font-size: 1.1rem;
    }

    &__or {
        color: $color-black;
        font-weight: 700;
        font-size: 1.1rem;
    }

    &__bg {
        filter: blur(8px);
    }

    &__button {
        background-image: linear-gradient(to right,$color-black, #222);
        border-radius: 5%;
        width: 20%;
        padding: .5rem 1rem;
        box-sizing: border-box;
        font-size: 12px;
        font-weight: 700;
        color: $color-orange;
        text-transform: uppercase;
        border: none;
        box-shadow: 1px 1px 1px;
        transition: all .2s;

        &--black {
            background-image: linear-gradient(to right,$color-black, #222);
            color: $color-white;

            &:hover {
                transform: translateY(-0.1rem);
                box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.2);
                background-image: linear-gradient(to left, $color-black, #222);
                color: $color-orange;
            }

            &:active {
                transform: translateY(-0.3rem);
                box-shadow: 0rem .5rem 1rem rgba($color-black, .2);
            }
        }
    }
}

.modal-backdrop {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
