.registration {
    width: 100vw;
    height: 100%;
    background-image: url("/img/car-garage.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        width: 40%;
        height: 100vh;
        padding: 2rem;
        background: linear-gradient(to bottom, rgba($color-orange,0.9), rgba($color-orange,0.9));

        @include respond(tab-port) {
            width: 100%;
        }

        @include respond(horizontal-view-sm) {
            height: 100%;
        }

        @include respond(horizontal-view-md) {
            height: 100%;
        }
    }

    &__title {
        margin: 0rem;
        padding: 0rem;
        font-weight: 900;
        color: $color-light-black;
        font-family: 'grand_halva', sans-serif;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 3rem;

        @include respond(tab-port) {
            padding: 3rem;
        }
    }

    &__input {
        width: 30vw;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        padding: .5rem 1rem;
        box-sizing: border-box;
        font-size: 1.2rem;
        font-weight: 500;
        color: $color-light-black;
        box-shadow: 5px 5px 10px;
        transition: all .3s;

        @include respond(tab-port) {
            width: 50vw;
        }

        @include respond(mobile-land-bp2) {
            width: 75vw;
        }

        &--profile {
            width: 50vw;

            @include respond(tab-land) {
                width: 80%;
            }

            @include respond(tab-land) {
                width: 80%;
            }

            @include respond(mobile-land) {
                width: 100%;
            }
        }
    }

    &__label {
        font-size: 1rem;
        font-weight: 700;
        margin-left: 1rem;
        margin-top: .5rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__signup {
        background-image: linear-gradient(to right, $color-black, #222);
        width: 100%;
        border-radius: 5px;
        padding: 1rem 1.5rem;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 700;
        color: $color-white;
        text-transform: uppercase;
        border: none;
        box-shadow: 1px 1px 1px;
        transition: all .2s;

        &:hover {
            transform: translateY(-0.3rem);
            box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.2);
            background-image: linear-gradient(to left, $color-black, #222);
        }

        &:active {
            transform: translateY(-0.5rem);
            box-shadow: 0rem .5rem 1rem rgba($color-black, .2);
        }
    }

    &__login {
        color: #555;
        font-weight: 500;
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: .25rem;
    }
}
