.sidebar {
    min-width: 225px;
    max-width: 225px;
    z-index: 1001;
    background: #1e2938;
    bottom: 0;
    margin-top: 0;
    position: absolute;
    top: 7.5rem;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    height: 75%;
    border: 2px solid rgba(darkslategray, .5);

    @include respond(laptop) {
        min-width: 190px;
        max-width: 190px;
    }

    @include respond(tab-land) {
        height: 70%;
    }

    @include respond(tab-port) {
        height: 60%;
    }


    &__img {
        padding: .5rem;
    }

    &__avatar {
        height: 5.5rem;
        width: 5.5rem;
        border: 2px dashed $color-orange;
    }

    &__text {
        color:$color-dark-grey;
        font-size: 1rem;
    }

    &__name {
        font-weight: 500;
        font-size: 1.25rem;
    }

    &__menu {
        padding: .75rem .3rem ;
        letter-spacing: .05em;
        pointer-events: none;
        cursor: default;
        font-size: .75rem;
        text-transform: uppercase;
        color: $color-dark-grey;
        font-weight: 600;
    }

    &__link {
        display: block;
        padding: .5rem .2rem;
        color: #7f879c;
        position: relative;
        font-size: .9rem;
        transition: all .4s;

        @include respond(tab-land) {
            padding: .75rem 1rem;
        }
    }
}

