.dashboard {
    background-color: #17212f;

    &__nav {
        background-color: rgba($color-black, 0.05);
        z-index: 1002;

        box-shadow: 0 1px 2px rgba(0,0,0,.075);
        width: 100%;
        height: 180px;
        background-size: cover;
        background-image:linear-gradient(to right bottom, rgba($color-black, .8), $color-orange), url("/img/highway.jpg");
    }

    &__main {
       margin-left:15%;
       overflow: hidden;

          @include respond(tab-land) {
                 margin-left:0%;
            }
    }

    &__form {
        margin-left: 4rem;

        @include respond(mobile-land) {
            margin-left: 0;
        }
    }

    &__main-content {
        padding-left: 7%;
        padding-top: 1.5rem;
        overflow-wrap: break-word;

        @include respond(tab-land) {
            padding-left:0%;
        }

        &--grey {
            background-color: darkgrey;
            padding:1.5rem 6%;
            margin: 2rem 4rem;

            @include respond(tab-land) {
                margin: 2rem 1rem
            }

            @include respond(mobile-land-bp2) {
                padding:1.5rem 1%;
            }
        }
        &--pto {
            background-color: darkgrey;
            padding:1.5rem 6%;
            margin: 2rem 4rem;
            height: 100vh;

            @include respond(tab-land) {
                margin: 2rem 1rem
            }

            @include respond(tab-port) {
                height: 80vh;
            }

            @include respond(mobile-land-bp2) {
                padding-top:2rem;
            }
        }
        &--weather {
            margin-left:15%;
            overflow: hidden;
            padding:1.5rem 6%;

            @include respond(tab-land) {
               margin-left: 0%;
            }

            @include respond(mobile-land-bp2) {
                padding:1.5rem 1%;
            }
        }
    }
}
