/* MEDIA QUERY MANAGER
400-600px- Mobile, portrait
600px-800px- mobile, landscape
800px-1000px Tablet, portrait
1000px - Tablet, landscape */
html {
  font-size: 100%;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (max-width: 47.9em) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 36.5em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 25em) {
  html {
    font-size: 70%;
  }
}

body {
  font-family: 'Titillium Web', sans-serif;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.homepage__bgcolor {
  background-color: #000000;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.navbar__logo {
  position: absolute;
  top: 0;
  background-color: #000000;
  margin: 0rem;
  z-index: 10;
  color: #eba72b;
  margin-left: 10rem;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  height: auto;
}

@media only screen and (max-width: 75em) {
  .navbar__logo {
    margin-left: 8rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .navbar__logo {
    height: 20vh;
  }
  .navbar__logo--img {
    height: 20vh;
  }
}

@media only screen and (max-width: 47.9em) {
  .navbar__logo {
    height: 15vh;
    margin-left: 6rem;
  }
  .navbar__logo--img {
    height: 13vh;
  }
}

@media only screen and (min-height: 63.75em) and (min-width: 47.8em) {
  .navbar__logo {
    height: 15vh;
    margin-left: 6rem;
  }
  .navbar__logo--img {
    height: 15vh;
  }
}

.navbar__alt {
  -webkit-transition: all .75s ease-in;
  transition: all .75s ease-in;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin-left: 0rem;
  top: -4.1rem;
  padding: 0rem 5rem;
  left: 0rem;
  height: 21.5vh;
}

@media only screen and (max-width: 75em) {
  .navbar__alt {
    padding: 0rem 4rem;
    height: 10rem;
  }
  .navbar__alt--img {
    height: 100%;
  }
}

@media only screen and (max-width: 62.5em) {
  .navbar__alt {
    padding: 0rem 3.5rem;
    height: 16.5vh;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 47.9em) {
  .navbar__alt {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    height: 7.5rem;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 36.5em) {
  .navbar__alt {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-top: 1.3rem;
  }
}

@media only screen and (max-width: 25em) {
  .navbar__alt {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
    margin-top: 2rem;
    padding: 0rem 2rem;
    height: 6.75rem;
  }
}

@media only screen and (min-height: 59.25em) and (min-width: 80em) {
  .navbar__alt {
    height: 17vh;
  }
}

@media only screen and (min-height: 45.5em) and (max-width: 25.7em) {
  .navbar__alt {
    margin-top: 1.6rem;
  }
}

@media only screen and (min-height: 63.75em) and (min-width: 47.8em) {
  .navbar__alt {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-top: 1rem;
    padding: 0rem 3rem;
    height: 12vh;
  }
}

.navbar__bg {
  background-color: #eba72b !important;
  color: #000000 !important;
  -webkit-transition: all .75s ease-out;
  transition: all .75s ease-out;
}

.navbar__link {
  color: #000000;
  padding: 0rem auto;
  margin: 0rem 1.75rem;
}

@media only screen and (max-width: 47.9em) {
  .carousel__height {
    height: 65vh;
  }
}

@media only screen and (max-width: 36.5em) {
  .carousel__height {
    height: 50vh;
  }
}

@media only screen and (max-width: 31.25em) {
  .carousel__height {
    height: 45vh;
  }
}

@media only screen and (max-width: 25em) {
  .carousel__height {
    height: 35vh;
  }
}

.carousel__height--img {
  max-height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 5px solid #eba72b;
}

@media only screen and (max-width: 31.25em) {
  .carousel__height--img {
    margin-top: 1.5rem;
  }
}

.carousel__heading {
  color: #eba72b;
  font-size: 3rem;
  font-weight: 700;
}

@media only screen and (max-width: 31.25em) {
  .carousel__heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 25em) {
  .carousel__heading {
    font-size: 2rem;
  }
}

.carousel__text {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
}

@media only screen and (max-width: 25em) {
  .carousel__text {
    font-size: 1rem;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #eba72b;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(235, 167, 43, 0.8);
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(rgba(227, 227, 227, 0.8)), to(#d3cce3)), url(../img/highway.jpg);
  background: linear-gradient(to right, rgba(227, 227, 227, 0.8), #d3cce3), url(../img/highway.jpg);
  background-size: cover;
  max-width: 100vw;
  margin-top: 3rem;
}

.footer__primary {
  display: inline-block;
  border-bottom: 2px solid #eba72b;
}

.footer__link {
  text-align: center;
  margin: 4rem 0rem 5rem 0rem;
}

@media only screen and (max-width: 47.9em) {
  .footer__link {
    height: 2vh;
  }
}

@media only screen and (max-width: 25em) {
  .footer__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.konti-cards {
  position: relative;
  margin-top: 2rem;
  height: 40%;
  background-image: linear-gradient(-45deg, #cf9934, #eba117, #eeb345, #d1a34c, #ca993d);
  background-size: 400% 400%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  visibility: hidden;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 47.9em) {
  .konti-cards .w-25 {
    width: 15% !important;
  }
}

.hover__black {
  color: #000000;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.hover__black::before, .hover__black::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.hover__black::before {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.hover__black::after {
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
}

.hover__black:hover {
  color: #eba72b;
  z-index: 1;
  text-decoration: none;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  text-transform: uppercase;
}

.hover__black:hover::before {
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.hover__black:hover::after {
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
}

.pto {
  background: -webkit-gradient(linear, left top, left bottom, from(#d1d6da), to(#9fa4a8));
  background: linear-gradient(to bottom, #d1d6da, #9fa4a8);
}

.pto__img {
  border-radius: 50%;
  width: 12%;
}

.pto__heading {
  border-bottom: 2px solid #eba72b;
  display: inline-block;
}

.modal__header {
  background-color: #eba72b;
}

.modal__body {
  background: -webkit-gradient(linear, left top, left bottom, from(#d1d6da), to(#9fa4a8));
  background: linear-gradient(to bottom, #d1d6da, #9fa4a8);
}

.modal__button {
  background-color: #000000;
  color: #eba72b;
}

.modal__button:hover {
  color: #eba72b;
  font-weight: 800;
  background-color: #000000;
}

.registration {
  width: 100vw;
  height: 100%;
  background-image: url("../img/car-garage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.registration__container {
  width: 40%;
  height: 100vh;
  padding: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(235, 167, 43, 0.9)), to(rgba(235, 167, 43, 0.9)));
  background: linear-gradient(to bottom, rgba(235, 167, 43, 0.9), rgba(235, 167, 43, 0.9));
}

.registration__title {
  margin: 0rem;
  padding: 0rem;
  font-weight: 900;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5rem;
}

.registration__input {
  width: 30vw;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: .5rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.registration__label {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-top: .5rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.registration__input:placeholder-shown + .registration__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.registration__signup {
  background-image: -webkit-gradient(linear, left top, right top, from(#000000), to(#222));
  background-image: linear-gradient(to right, #000000, #222);
  width: 100%;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.registration__signup:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, right top, left top, from(#000000), to(#222));
  background-image: linear-gradient(to left, #000000, #222);
}

.registration__login {
  color: #555;
  font-weight: 500;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: .25rem;
}
/*# sourceMappingURL=main.css.map */